.tag {
    margin: 4px;
    padding: 0px 32px 2px 8px;
    line-height: 28px;
    border: 1px solid #ccc;
}

.tag::after {
    right: 36px;
    content: " ";
    height: 30px;
    width: 30px;
    position: absolute;
}

.tag-blue::after {
    background-color: #00b3ee;
}